aioredis==1.3.1
apt-xapian-index==0.49
asgiref==3.4.1
async-timeout==4.0.2
attrs==21.2.0
autobahn==21.11.1
Automat==20.2.0
beautifulsoup4==4.10.0
blinker==1.4
cached-property==1.5.2
certifi==2020.6.20
cffi==1.15.0
channels==3.0.4
channels-redis==3.3.1
chardet==4.0.0
click==7.1.2
colorama==0.4.4
command-not-found==0.3
constantly==15.1.0
cryptography==36.0.1
cupshelpers==1.0
daphne==3.0.2
dbus-python==1.2.16
defer==1.0.6
distro==1.5.0
distro-info==1.0
Django==3.2.5
django-environ==0.8.1
django-localflavor==3.1
docker==4.4.4
docker-compose==1.27.4
dockerpty==0.4.1
docopt==0.6.2
galternatives==1.0.8
hiredis==2.0.0
httpie==2.4.0
httplib2==0.18.1
hyperlink==21.0.0
idna==2.10
importlib-metadata==4.0.1
incremental==21.3.0
jeepney==0.7.1
jsonschema==3.2.0
keyring==23.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.5
lubuntu-update-notifier==0.4.dev0
mercadopago==2.0.10
more-itertools==4.2.0
msgpack==1.0.3
netifaces==0.10.9
oauthlib==3.1.0
olefile==0.46
pexpect==4.8.0
Pillow==8.1.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycparser==2.21
pycups==2.0.1
Pygments==2.7.1
PyGObject==3.40.1
PyJWT==1.7.1
pyOpenSSL==21.0.0
PyQt5==5.15.4
PyQt5-sip==12.9.0
pyrsistent==0.15.5
python-apt==2.2.1
python-debian===0.1.39ubuntu1
python-dotenv==0.15.0
python-stdnum==1.17
pytz==2021.1
pytz-deprecation-shim==0.1.0.post0
pyxdg==0.27
PyYAML==5.3.1
reportlab==3.5.66
requests==2.25.1
requests-toolbelt==0.9.1
SecretStorage==3.3.1
service-identity==21.1.0
simplejson==3.17.2
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.1
systemd-python==234
texttable==1.6.3
Twisted==21.7.0
txaio==21.2.1
typing-extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
ubuntu-advantage-tools==27.6
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
usb-creator==0.3.7
wadllib==1.3.5
websocket-client==0.57.0
whitenoise==5.3.0
wikipedia==1.4.0
xdg==5
xkit==0.0.0
zipp==1.0.0
zope.interface==5.4.0
